nav {
    border-bottom: 1px solid black;
  }
  .crumbs ol {
    list-style-type: none;
    padding-left: 0;
  }
  .crumb {
    display: inline-block;
    margin-right: 90px;
  }
  .search-container{
      display: inline-block;
  }
  .titulo{
    color:rgb(38, 165, 38);
  }
  .letras{
    font-size: 40px;
    display: center;
    margin: 20px 0;
    text-align: center;
  }
  .pescados{
    float: right;
    margin-left: 20px;
  }
  .cosechas{
    text-align: center;
  }  
  .Harina{
    display: inline-block;
    margin-right: 400px;
  }
  .foto{
    display: inline-block;
    margin-right: 40px;
  }
  .texto{
    display: inline-block;
  }
  .valores{
    margin-right: 90px;
  }